

body {
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)),  url("pobrane.jpeg");
    color: #f1f2f6;
    background-position: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}